<<<<<<< HEAD
<div class="row">
	<%= form_tag("/query", method: "get") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <span class="btn">
	  	<%= submit_tag("Search") %>
	  </span>
	<% end %>
</div>

<div class="sidebar">
	Recent Artists
</div>


=======
<div class="sky">
	<div class="row">
		<div class="col-md-4">
			<h1 class="headline">Bandly Tree</h1>
			<h2 class="subhead">Know Your Roots</h2>
		</div>
		</div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		</div class="col-md-4">
			<!-- <img class="tree" src="assets/music-tree1.jpg"> -->
			<img class="tree" src="assets/music-tree2.png">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="ground">
	<div class="row">
		<h3>SEARCH BAR + SUBMIT BUTTON</h3>
		<div class="col-md-3 test">
			<%= @artist_amg_page_object.css("section[class='related influencers']//a")[0].text %>
		</div>>
		<div class="col-md-3 test">
			<%= @artist_amg_page_object.css("section[class='related influencers']//a")[1].text %>
		</div>>
		<div class="col-md-3 test">
			<%= @artist_amg_page_object.css("section[class='related influencers']//a")[2].text %>
		</div>>
		<div class="col-md-3 test">
			<%= @artist_amg_page_object.css("section[class='related influencers']//a")[3].text %>
		</div>>
	</div>
</div>
>>>>>>> a3317a83c57963ea820ce414edfbd594029792ea

