<div class="sky">
	<div class="row">
		<div class="col-md-4">
			<h1 class="headline">Bandly Tree</h1>
			<h2 class="subhead">Know Your Roots</h2>
		</div>
		</div class="col-md-4">
		</div>
		<div class="col-md-4">
			<!-- Recent Artists -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		</div class="col-md-4">
			<!-- <img class="tree" src="assets/music-tree1.jpg"> -->
			<img class="tree" src="assets/music-tree2.png">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<div class="ground">
	<div class="row">
		<div class="col-md-5">
		</div>
		<div class="col-md-2 search-bar">
			<%= form_for @query do |f| %>
				<%= f.label "search" %>
				<%= f.text_field :artist_name %>
				<%= f.submit %>
			<% end %>
			<br>
			Results for:
		</div>
		<div class="col-md-5">
		</div>
	</div>
	<div class="row">
		<% if @artist_amg_page_object.css("section[class='related influencers']//a")[0] == nil %>
			<div class="col-md-12 test">
				No Results
			</div>
		<% else %>
			<div class="col-md-3 test">
				<%= @artist_amg_page_object.css("section[class='related influencers']//a")[0].text %>
			</div>
			<div class="col-md-3 test">
				<%= @artist_amg_page_object.css("section[class='related influencers']//a")[1].text %>
			</div>
			<div class="col-md-3 test">
				<%= @artist_amg_page_object.css("section[class='related influencers']//a")[2].text %>
			</div>
			<div class="col-md-3 test">
				<%= @artist_amg_page_object.css("section[class='related influencers']//a")[3].text %>
			</div>
		<% end %>
	</div>
</div>

