<!-- <div class="big_wrapper"> -->
	<div class="sidebar-wrapper">

				<div class="subhead" id="artist-name">
					<%= @artist.amg_artist_name %>
				</div>
			
				<%= render partial: 'image' %>
				<br>
				<%= render partial: 'sidebar' %>
				<br>
				<%= render partial: 'audio' %>

	</div>
<!-- 

	<div id="tree-content"> -->

	<div class="sky">

			<h1 class="headline">Bandly Tree</h1>
			<h2 class="subhead">Know Your Roots</h2>
			
			<img class="tree" src="assets/music-tree2.png">


			<div class="search-bar">
				<%= form_for @query, remote: true do |f| %>
					<%= f.label "search" %>
					<%= f.text_field :artist_name, :id => "textBar" %>
					<span id="submit"><%= f.submit %></span>
				<% end %>
			</div>

			<span id="name">
				<%= @artist.amg_artist_name %>
			</span>

	</div>


			<!-- <div class="box1">BOX 1</div> -->

		<div class="ground">

			<div class="line1"></div>

			<div class="line2"></div>
			


		<ul id="placeholder">
				<li >
				<img class="event1" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event2" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>

				<li>
				<img class="event4" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100">
				</li>
			</ul>
			<div id="second">
			<div class="line3"></div>
			<div class="line4"></div>
				<ul>
					<li><img class="row2-event1" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event2" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event3" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img class="row2-event4" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>

			<div id="third">
			<div class="line5"></div>
			<div class="line6"></div>
				<ul>
					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>

			<div id="fourth">
			<div class="line7"></div>
			<div class="line8"></div>
				<ul>
					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>

					<li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=200&h=100"></li>
				</ul>
			</div>

<!-- 			<svg height="210" width="500" id="l1r4">
    <line x1="200" y1="0" x2="200" y2="220" style="stroke:rgb(0,0,0);stroke-width:2" />
</svg>

<svg height="210" width="500" id="l1r3">
    <line x1="200" y1="0" x2="0" y2="0" style="stroke:rgb(0,0,0);stroke-width:2" />
 </svg> -->
			
	<!-- display "No Results" if page object parse array comes up empty/nil -->
			<div id="influencers-1">


				<% if @artist.related[0] == nil %>
					<div class="influencers">
						No Results
					</div>

				<% else %>
	<!-- display up to four influencers -->

					<% @artist.related.each do |i| %>
						<div class="influencers">
							<%= i.text %>
							<br>
							<%= form_for @query, :html => {:id => "banana"} do |f| %>
								<%= f.hidden_field :artist_name, :value => i.text %>
								<%= f.submit "See More" %>
					<% end %>

							<button type="button" class="btn btn-success see-more">VVV</button>
						</div>

					<% end %>

				<% end %>

			</div>

		</div>





<script>
	$(".see-more").click(function(){
		$(".ground").append("<div class='ground'><div class='row'><% if @artist.related[0] == nil %><div class='col-md-12 test'>No Results</div><% else %><% @artist.related.each do |i| %><div class='col-md-3 test'><%= i.text %><br><button type='button' class='btn btn-success see-more'>VVV</button></div><% end %><% end %></div></div>");
		window.scrollTo(0,document.body.scrollHeight);
	});
</script>
