$('#influencers').html('<% if @influencers_array_4[0] == nil %><div class="col-md-12 influencer">No Results</div><% else %><% @influencers_array_4.each do |i| %><div class="col-md-3 influencer"><%= i.text %><br><%= form_for @query do |f| %><%= f.hidden_field :artist_name, :value => i.text %><%= f.submit "See More" %><% end %><button type="button" class="btn btn-success see-more">VVV</button></div><% end %><% end %>');

$('#artist-name').html('<%= @artist_amg_page_object.css("h1[class='artist-name']").text.strip! %>');
 
$('#artist-bio').html('<%= @artist_bio_page_object.css("div[class='text']").text.strip! %>');

$('#recent-searches').prepend('<%= @artist_amg_page_object.css("h1[class='artist-name']").text.strip!.downcase %><br>');