$('#influencers-1').html('<% if @artist.related[0] == nil %><div class="influencers" id="influencers-1">No Results</div><% else %><% @artist.related.each do |i| %><div class="influencers" id="influencers-1"><%= i.text %><br><%= form_for @query, remote: true do |f| %><%= f.hidden_field :artist_name, :value => i.text %><%= f.submit "See More" %><% end %><button type="button" class="btn btn-success see-more">VVV</button></div><% end %><% end %>');

$('#artist-name').html('<%= @artist.amg_artist_name %>');

$('#artist-bio').html('<p><%= @artist.short_bio %>... <a href="<%= @artist_bio_page %>" target="_blank">[See More]</a></p>');

$('#recent-searches').prepend('<%= @artist.amg_artist_name.downcase %><br>');